.CardSwiper {
  min-height: 80vh;
}

.CardGroups,
.CardGroups__items,
.CardsGroups__item__card {
  aspect-ratio: 2 / 3;
}

.CardGroups,
.CardGroups__items,
.CardsGroups__item__card {
  width: 30vmin;
}

.CardGroups__items {
  position: absolute;
  transition: transform 400ms ease;
}

.CardGroups__items[data-status="unknown"] {
  transform: scale(0);
  transition: none;
}

.CardGroups__items[data-status="active"] {
  transition-delay: 300ms;
}

.CardGroups__items[data-status="after"] {
  transform: translateX(50%) scale(0);
}

.CardGroups__items[data-status="before"] {
  transform: translateX(-50%) scale(0);
}

.CardGroups__items[data-status="becoming-active-from-after"] {
  transform: translateX(50%) scale(0);
  transition: none;
}

.CardGroups__items[data-status="becoming-active-from-before"] {
  transform: translateX(-50%) scale(0);
  transition: none;
}

.CardsGroups__item__card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 0.8s ease, box-shadow 0.4s ease;

  border-radius: 1vmin;
  background-position: center;
  background-size: cover;
}


.CardsGroups__item__card:nth-child(1) {
  background-image: url("https://media.tenor.com/hb0Ml3miRDwAAAAM/cat-cat-meme.gif");
}

.CardsGroups__item__card:nth-child(2) {
  background-image: url("https://media.tenor.com/1iO_8bn7Fo8AAAAd/sausage-sausage-dog.gif");
}

.CardsGroups__item__card:nth-child(3) {
  background-image: url("https://media.tenor.com/PS6medrGxqwAAAAd/cat-kiss.gif");
}

.CardsGroups__item__card:nth-child(4) {
  background-image: url("https://media.tenor.com/yybmSYAC6wsAAAAd/cat-funny-cat-memes.gif");
}

.CardsGroups__item__card:nth-child(5) {
  background-image: url("https://media.tenor.com/OeswMjtpFdQAAAAd/cat.gif");
}

.CardsGroups__item__card:nth-child(6) {
  background-image: url("https://media.tenor.com/mAIEgAYrLkoAAAAC/cayde-dachshund.gif");
}

.CardGroups__items:hover > .CardsGroups__item__card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

